.header {
  color: yellow;
  background-color: black;
  font-family: 'Noto Sans JP', sans-serif;
}

.groupbox {
  width: 90%;
  color: yellow;
}

.linebox {
  display: flex;
  color: yellow;
}

.stat {
  flex-basis: 50%; 
  color: yellow;
}

.input {
  width: 100%;
  color: yellow;
}



